<template name="navbar">
<a href="#" role="button" ><div class="jumbotron btn center-block">
	<h1><span class="flag-icon flag-icon-ir flag-icon-squared"></span>ﻑﺍﺮﺳی </h1>
</div>
</a>
<a href="#" role="button" ><div class="jumbotron btn center-block">
        <h1><span class="flag-icon flag-icon-sa flag-icon-squared"></span>ﺎﻠﻋﺮﺒﻳﺓ </h1>
</div>
</a>
<a href="#" role="button" ><div class="jumbotron btn center-block">
        <h1><span class="flag-icon flag-icon-gb flag-icon-squared"></span>English</h1>
</div>
</a>
</template>
